* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373737;
}

.container {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%) 1fr));
    grid-template-rows: 1fr 0.75fr 0.75fr;
    grid-gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    max-height: 276px;
    margin: 0 auto;
}

.item {
    padding: 10px;

    /* border: 1px solid black; */
}

.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / 4;
    object-fit: contain;
    width: 100%;
}

.watch-link {
    width: 100%;
}

.header {
    grid-column: 2/span 2;
    grid-row: 1;
}

.rightside {
    grid-column: 4;
    grid-row: 1;
    margin-left: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    float: right;
    font-size: 1.5em;
}

.buy-button {
    border-radius: 5px;
    border: 1px;
    padding: 15px;
}

.button-text {
    font-size: 1.2em;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

.footer {
    grid-column: 2/span 2;
    grid-row: 3;
    align-items: end;
}


.compare-check {
    background-color: aliceblue;
}


/* xxs */
@media (max-width: 424px) {
    /* .container {
        display: none;
    } */


}

@media (min-width: 425px) {
    /* .container {
        display: none;
    } */


}

/* xs */
@media (max-width: 425px) {}

/* sm */
@media (max-width: 500px) {
    .container {
        grid-template-rows: 1fr;
    }

    .leftside {
        align-items: flex-start;
    }

    .header {
        grid-column: 2/span 3;
        font-size: 11px;
    }

    .footer {
        grid-column: 2/span 2;
        grid-row: 2;
        padding: 5px;
        font-size: 12px;
    }    

    .rightside {
        grid-row: 2;
    }
}

/* sm */
@media (max-width: 641px) {

    .header {
        font-size: 12px;
    }

    .footer {
        font-size: 13px;
    }
}

@media (max-width: 720px) {
    .container {
        grid-gap: 0.5rem;
    }

    .header {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    
}