* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #373737;
}

.container {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 1fr 0.75fr 0.75fr;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
}

.item {
    padding: 10px;
    
    border: 1px solid black;
}

.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / 4;    
    object-fit: contain;
    width: 100%;
}

.watch-link {
    width: 100%;
}

.header {
    grid-column: 2/span 2;
    grid-row: 1;
}

.rightside {
    grid-column: 4;
    grid-row: 1;
    margin-left: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    float: right;
    font-size: 1.5em;
}

.buy-button {
    border-radius: 5px;
    border: 1px;
    padding: 15px;    
}

.button-text {
    font-size: 1.2em;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

.footer {
    grid-column: 2/span 2;
    grid-row: 3;
    align-items: end;
}


.compare-check {
    background-color: aliceblue;
}


/* xxs */
@media (max-width: 424px) {

    .container {
        display: none;
    }
}

@media (min-width: 425px) { /*//!!!!!!!!!!!!!!!! */
    /*.container-mobile { 
        display: none;
    }*/
}

/* xs */
@media (max-width: 475px) {
    .leftside {
        width: 50%;
    }

    .middle-container {
        font-size: 12px;
    }

    .header {
        overflow: auto;
    }

    h2 {
        font-size: 21px;
    }

    .buy-button {
        padding: 12px;
    }

    .button-text {
        font-size: 1.2em;
    }

    .footer {
        font-size: 12px;
    }

    .header, .footer {
        overflow: visible;
    }
}

/* sm */
@media (max-width: 640px) {

    .middle-container {
        font-size: 14px;
    }

    .buy-button {
        padding: 15px;
    }

    .header {
        overflow-x: auto;
    }

    .footer {
        overflow-x: auto;
        font-size: 14px;
    }

    h2 {
        font-size: 21px;
    }

    .buy-button {
        padding: 12px;
    }

    .button-text {
        font-size: 1.2em;
    }
}

@media (max-width: 720px) {
    
}

@media (max-width: 768px) {
    
}
